<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Biblioteques App (BETA)</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

    <!-- Lungo - Stylesheets -->
    <link rel="stylesheet" href="lungo/lungo.css">    
    <link rel="stylesheet" href="lungo/lungo.icon.css">    
    <link rel="stylesheet" href="lungo/lungo.theme.css">
    <link rel="stylesheet" href="styles/library.theme.css">

    <!-- Chart.js dependencies -->
    <script src="chartjs/Chart.js"></script>
</head>

<body class="app">
    
    <section id="libraries">
        <header class="title">
            <nav class="on-left" data-article="view">
              <a href="#" data-view-article="list" data-icon="chevron-left"></a>
            </nav>
            
            <h1 class="centered title"> Biblioteques App <span class="text bold">(BETA)</span></h1>
            
            <nav class="on-right">
              <a href="#" data-view-menu="options" data-icon="menu"></a>
            </nav>
        </header>

        <nav id="options" data-control="menu"> 
            <a href="#" data-view-article="list" data-icon="menu">Llista de Biblioteques</a>
            <a href="#" data-view-article="explore-menu" data-icon="info-sign">Informació</a>
            <a href="#" data-view-article="activity-menu" data-icon="comments">Opinions</a>
        </nav>

        <article id="list" class="active list scroll">
            <ul>
              <li class="arrow">
                  <a href="#" data-view-article="view"> 
                    <strong class="text bold"> Ciències Socials UAB </strong>
                    <small> UAB (Bellaterra) </small>
                  </a>
              </li>
              <li class="light">
                  <strong class="text bold"> Properament... </strong>
                  <small> Biblioteques a tot Catalunya </small>
              </li>
            </ul>
        </article>

        <article id="view" class="list scroll">
            <ul>
                <li class="anchor theme"><strong>Ciències Socials UAB</strong></li>
            </ul>    
            <div><img src="images/1.jpg" class="responsive"></div>
            <ul>
                <li> <div id="percentage"> 75% </div> </li>
                <li data-icon="group">
                    <strong> 250 places totals </strong>
                </li>
                <li>
                    <a href="#">
                        <span data-icon="refresh"></span>
                        <strong> Ocupació actualitzada fa 5 minuts </strong>
                        <small> Clica per refrescar </small>
                    </a>
                </li>
                <li>
                    <canvas id="occupancyChart"></canvas>
                </li>
            </ul>
        </article>
        
    </section>

    <!-- Lungo - Dependencies -->
    <script src="quojs/quo.js"></script>
    <script src="lungo/lungo.js"></script>
    
    <!-- Lungo App -->
    <script src="javascript/lungo-app.js"></script>

</body>